html, body { height: 100%; width: 100%; margin: 0; }

.carDetails {
	margin-top: 5%;
	margin-left: 35%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5em;
}

.centreButton {
	margin: 5% 42% 0 42%;
}

.centreButtonSubmit {
	margin: 10% 0 0 30%;
}

.form {
  margin: 0 35%;
  padding: 5%;
}

.formText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4em;
  width: 100%;
  margin-bottom: 5%;
}

.formBox {
  padding: 2%;
  min-width: 100%;
}

.box4 {
	float: left;
	width: 20%;
	padding-bottom: 3%;
	margin: 2% 2.5% 2% 2.5%;
}

.box3 {
	float: left;
	width: 30%;
	padding-bottom: 3%;
	margin: 2% 1.66% 2% 1.66%;
}

.box2 {
	float: left;
	width: 45%;
	padding-bottom: 3%;
	margin: 2% 2.5% 2% 2.5%;
}

.box1 {
	float: left;
	width: 95%;
	padding-bottom: 3%;
	margin: 2% 2% 2% 2%;
}

.box-quarter {
	float: left;
	width: 20%;
	margin: 2%;
	padding-bottom: 6%;
}

.box-three-quarter {
	float: left;
	width: 70%;
	margin: 1% 2% 1% 2%;
	padding-bottom: 3%;
	overflow: hidden;
}

.container {
	width: 100%;
	border: 1px solid;
	margin: auto;
	height: 150%;
	overflow: hidden;
}